<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rssbot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS/venv/bin/python</string>
        <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS/telegram_rss_bot.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS/venv/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/yanghaoyu/Documents/Telegram_Bot/RSS/bot.log</string>
</dict>
</plist> 